.footer {
  background: black !important;
  color: white !important;
  text-align: center;
}
.container {
  padding: 5px;
}

.container a {
  position: absolute;

  color: white !important;
  border-radius: 50px;
  background: #000;
  padding: 8px;
}

.container a:hover {
  background: rgb(84, 84, 84);
}
